<footer class="container-fluid sfiticky-bottom">
	<ul class="list-inline h-100 w-100 d-flex justify-content-around align-items-center">
		<li class="list-inline-item mx-2">
			<div class="dropup dropup-center">
				<a class="dropdown-toggle link-underline link-underline-opacity-0" href="#" role="button" id="scheduleDropdown" aria-expanded="false" data-bs-toggle="dropdown">
					Nos horaires
				</a>
				<ul class="dropdown-menu" aria-labelledby="scheduleDropdown">
					<li class="dropdown-item">15h-17h</li>
					<li class="dropdown-item">15h-17h</li>
					<li class="dropdown-item">15h-17h</li>
					<li class="dropdown-item">
						<a href="{{path('app_opening_hours_index')}}" style='color: black;'>Voir plus</a>
					</li>
					<li></li>
				</ul>
			</div>
		</li>
		<li class="list-inline-item mx-2">
			<a class="link-underline link-underline-opacity-0" href="{{path('app_contact_new')}}">Contact</a>
		</li>
		<li class="list-inline-item mx-2">
			<a class="link-underline link-underline-opacity-0" href="#">A propos</a>
		</li>
		<li class="list-inline-item mx-2">
			<a class="link-underline link-underline-opacity-0" href="#">Condition d'utilisation</a>
		</li>
	</ul>
</footer>
