$Ingrid_Darling: "Ingrid Darling";
$Roboto_Slab: "Roboto Slab";

$Blue: #0466c8;
$LightBlue: #0496ff;
$Red: #e71d36;
$White: #ffffff;
$Orange: #f18701;
$LightOrange: #fdb560;
$Dark: #001524;
$Gray: #c2c2c2;
$DarkGray: #46494c;
$MediumGray: #a6a2a2;
