@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./fonts.scss";

body {
  position: relative;
  min-height: 100vh;
  font-family: $Roboto_Slab;
  font-size: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: $Dark;
  &:hover {
    color: $DarkGray;
  }
}
h1 {
  color: $Dark;
  text-align: center;
}
.btn {
  margin: 0.3rem;
  color: $White;
  background-color: $Blue;
}
.btn-success {
  background-color: $Blue;
}
.btn-danger {
  background-color: $Red;
}
.btn-warning {
  background-color: $Orange;
  color: white;
}
/*Surcarge définitions bootstrap pour un meilleur rendu*/
dl,
ol,
ul {
  margin: 0;
}
/*Supressions des spinners des input*/
input {
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  /* Chrome */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Opéra*/
  &::-o-inner-spin-button,
  &::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0;
  }
}
.home-img {
  height: 350px;
}
.services-logo {
  width: 162px;
  height: 130px;
}
@import "./header.scss";
@import "./footer.scss";
