@font-face {
  font-family: "Ingrid Darling";
  src: url(../Fonts/IngridDarling-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../Fonts/RobotoSlab-Medium.ttf) format("truetype");
}
