header {
  background-color: $Blue;
  color: $White;
  font-family: $Roboto_Slab;
  a {
    color: $White;
  }
}
.navbar-brand {
  margin: 0;
  font-family: $Ingrid_Darling;
  font-size: 3rem;
  color: $White;
}
